.finales {
  padding: 130px 0 0;
}
@media screen and (min-width: 992px) {
  .finales {
    padding: 130px 20px 0;
  }
}
@media screen and (min-width: 1024px) {
  .finales {
    padding: 130px 25px 0;
  }
}
@media screen and (min-width: 1200px) {
  .finales {
    padding: 130px;
  }
}
.finales h1, .finales h2 {
  text-transform: uppercase;
}
.finales h2 {
  text-align: center;
}
.finales .cards__single {
  margin: auto;
}
@media screen and (min-width: 992px) {
  .finales .lcq {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  .finales .lcq .lcqStanding {
    width: 50%;
  }
}
.finales .lcq .lcqStanding .cards__single {
  margin: auto;
}
@media screen and (min-width: 992px) {
  .finales .lcq .lcqStanding .cards__single {
    margin: inherit;
  }
}
@media screen and (min-width: 1024px) {
  .finales .lcq .lcqStanding .cards__single {
    margin: auto;
  }
}
.finales .lcq .secondSection {
  margin: 0 auto;
  width: initial;
}
.finales .lcqPhoto {
  width: 100%;
  max-width: 350px;
  display: blocks;
  padding: 1vh;
  background: #efecdb;
  box-shadow: 0 10px 50px rgba(95, 47, 17, 0.5098039216);
}
.finales .lcqWinner {
  writing-mode: vertical-rl;
  font-size: 70px;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  right: 0;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 7px black;
}
@media screen and (min-width: 768px) {
  .finales .lcqWinner {
    right: 170px;
  }
}
@media screen and (min-width: 992px) {
  .finales .lcqWinner {
    right: -20px;
  }
}
@media screen and (min-width: 1024px) {
  .finales .lcqWinner {
    right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .finales .lcqWinner {
    right: 30px;
  }
}
.finales .lcqChara {
  display: none;
}
@media screen and (min-width: 992px) {
  .finales .lcqChara {
    display: block;
    filter: drop-shadow(2px 2px 5px #000);
    width: initial;
    max-width: 430px;
    left: -155px;
    position: absolute;
    top: 65px;
  }
}
.finales .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 50%;
  transform: translateZ(0.1px) scale(0.9) translateX(0px) translateY(-3vh);
  transition: 1s;
}
.finales .slower {
  transform: translateZ(-0.2px) scale(1.1) translateX(0%) translateY(-10vh);
}
@media screen and (min-width: 992px) {
  .finales .top h2 {
    font-size: 3vw;
  }
}
.finales .topPFL {
  position: relative;
  margin-bottom: 125px;
}
@media screen and (min-width: 768px) {
  .finales .topPFL {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .finales .topPFL {
    margin-bottom: 100px;
  }
}
.finales .topPFL.rank {
  justify-content: space-around;
  margin-bottom: 20px;
}
.finales .topPFL .techo {
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px 7px rgb(0, 0, 0);
  -webkit-text-stroke: 2px #fff;
}
.finales .topPFL .podiumPhoto {
  width: 100%;
  max-width: 270px;
  display: block;
  padding: 1vh;
  background: #efecdb;
  box-shadow: 0 10px 50px rgba(95, 47, 17, 0.5098039216);
}
.finales .topPFL .podiumWinner {
  writing-mode: vertical-rl;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  font-size: 60px;
  right: 0;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 7px black;
}
@media screen and (min-width: 992px) {
  .finales .topPFL .podiumWinner {
    font-size: 70px;
    right: -40px;
  }
}
.finales .topPFL .podiumChara {
  display: none;
}
@media screen and (min-width: 1200px) {
  .finales .topPFL .podiumChara {
    display: block;
    filter: drop-shadow(2px 2px 5px #000);
    width: 100%;
    max-width: 250px;
    position: absolute;
    left: -150px;
    top: 65px;
  }
}
.finales .topPFL .img-wrapper {
  position: relative;
}
@media screen and (min-width: 992px) {
  .finales .topPFL .img-wrapper.ror .podiumChara {
    left: -100px;
    top: inherit;
    bottom: -20px;
  }
}
.finales .topPFL .img-wrapper.arefu {
  margin-top: 30px;
  margin-left: 15px;
}
.finales .topPFL .img-wrapper.arefu .podiumWinner {
  top: inherit;
  bottom: -10px;
  left: -13px;
  right: initial;
}
@media screen and (min-width: 992px) {
  .finales .topPFL .img-wrapper.arefu .podiumChara {
    left: inherit;
    right: -140px;
    top: 110px;
  }
}
.finales .topPFL .img-wrapper.neos {
  margin-top: 115px;
}
@media screen and (min-width: 768px) {
  .finales .topPFL .img-wrapper.neos {
    margin-left: 70px;
  }
}
@media screen and (min-width: 992px) {
  .finales .topPFL .img-wrapper.neos {
    margin-right: 70px;
  }
}
@media screen and (min-width: 992px) {
  .finales .topPFL .img-wrapper.neos {
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  .finales .topPFL .img-wrapper.neos .podiumChara {
    width: inherit;
    max-width: 350px;
    left: 0;
    top: inherit;
    bottom: -80px;
  }
}
.finales .topPFL .img-wrapper.crillou .podiumWinner {
  right: inherit;
  left: -10px;
}
@media screen and (min-width: 992px) {
  .finales .topPFL .img-wrapper.crillou .podiumChara {
    left: 150px;
    top: inherit;
    bottom: 0;
  }
}
.finales .topPFL .img-wrapper.dase .podiumPlace {
  font-size: 55px;
  text-transform: uppercase;
  position: absolute;
  top: 21px;
  margin: 0;
  text-shadow: 2px 2px 7px rgb(0, 0, 0);
  -webkit-text-stroke: 2px #fff;
  color: #b36700;
}
.finales .topPFL .img-wrapper.dase .podiumPhoto {
  max-width: 285px;
}
.finales .topPFL .img-wrapper.dase .podiumWinner {
  font-size: 60px;
  right: inherit;
  left: -10px;
  top: inherit;
  bottom: 10px;
}
@media screen and (min-width: 992px) {
  .finales .topPFL .img-wrapper.dase .podiumChara {
    width: inherit;
    max-width: 370px;
    left: 75px;
    top: 140px;
  }
}
.finales .topPFL .img-wrapper.patachu .podiumPlace {
  font-size: 55px;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  margin: 0;
  text-shadow: 2px 2px 7px rgb(0, 0, 0);
  -webkit-text-stroke: 2px #fff;
  color: #C49C48;
}
.finales .topPFL .img-wrapper.patachu .podiumPlace.fourth {
  color: #b36700;
}
.finales .topPFL .img-wrapper.patachu .podiumPlace.second {
  color: #C0C0C0;
}
.finales .topPFL .img-wrapper.patachu .podiumPlace.first {
  color: #FFD700;
}
.finales .topPFL .img-wrapper.patachu .podiumPhoto {
  max-width: 310px;
}
.finales .topPFL .img-wrapper.patachu .podiumWinner {
  width: initial;
  max-width: initial;
  right: inherit;
  left: -22px;
}
@media screen and (min-width: 992px) {
  .finales .topPFL .img-wrapper.patachu .podiumChara {
    width: initial;
    max-width: 450px;
    top: 170px;
    left: 67px;
  }
}
.finales .topPFL .img-wrapper.gagayoux .podiumPlace {
  font-size: 55px;
  text-transform: uppercase;
  position: absolute;
  top: -23px;
  margin: 0;
  text-shadow: 2px 2px 7px rgb(0, 0, 0);
  -webkit-text-stroke: 2px #fff;
  color: #C0C0C0;
}
.finales .topPFL .img-wrapper.gagayoux .podiumPlace.fourth {
  color: #b36700;
}
.finales .topPFL .img-wrapper.gagayoux .podiumPlace.first {
  color: #FFD700;
}
.finales .topPFL .img-wrapper.gagayoux .podiumPhoto {
  max-width: 335px;
}
@media screen and (min-width: 992px) {
  .finales .topPFL .img-wrapper.gagayoux .podiumChara {
    top: inherit;
    bottom: -80px;
    left: -190px;
    width: inherit;
    max-width: 360px;
  }
}
@media screen and (min-width: 992px) {
  .finales .topPFL.champ {
    margin: 0;
  }
  .finales .topPFL.champ .img-wrapper {
    width: 70%;
  }
}
.finales .topPFL.champ .podiumPhoto {
  max-width: 350px;
}
.finales .topPFL.champ .podiumWinner {
  right: 70px;
}
@media screen and (min-width: 992px) {
  .finales .topPFL.champ .podiumChara {
    left: -150px;
    top: inherit;
    bottom: -90px;
    max-width: 450px;
    width: inherit;
  }
}
@media screen and (min-width: 768px) {
  .finales .tieplace {
    display: flex;
    justify-content: center;
  }
  .finales .tieplace .fifthPlace {
    position: absolute;
    right: 0;
    top: 80px;
  }
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

/* ------------------------------
------------------------------
------------------------------ *//*# sourceMappingURL=style.css.map */