@import "../../variables";

.access-map-section {
    height: auto;
    min-height: 0;
    padding: 30px 15px;
    color: $white;
    background-color: $darkBlue;
    margin-bottom: 70px;
    
    @media screen and (min-width: 992px) {
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 100px 15px;
    }

    @media screen and (min-width: 992px){
        .contenu {
            display: flex;
            justify-content: center;
            padding-right: 105px;
            padding-left: 105px;

            div:first-child {
                padding-right: 30px;
            }
        }
    }

    h2 {
        font-weight: bold;
        text-transform: uppercase;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 42px;
    }

    .infos {
        padding-right: 15px;
        @media screen and (min-width: 992px) {
        padding-right: 0;
        }
    }
    .map {
        text-align: center;

        iframe {
            width: 100%;
            border: 0;

            @media screen and (min-width: 992px) {
                width: 700px;
            }
        }
    }
}

.contenu {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

    p {
        line-height: 24px;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    span {
        color: $yellow;
    }
}


