@import "../../variables";

.homepage {
    padding: 120px 15px 15px;
    background: radial-gradient(circle, transparent 90%, rgba(0, 1, 0, 0.5)),
        linear-gradient(to right, rgba(0, 1, 0, 0.5), rgba(0, 1, 0, 0.5)),
        url('../../assets/4.png'), rgba(0, 1, 0, 0.5);
    background-position: center bottom;
    background-size: cover;
    background-blend-mode: color;
    position: relative;
    overflow: hidden;

    h1 {
        text-transform: uppercase;
    }

    // @media screen and (min-width: $media-queries-tablet) {
    //     height: 100vh;
    // }
    .presentation {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        // letter-spacing: 1px;

        @media screen and (min-width: $media-queries-desktop) {
            padding-right: 70px;
        }

        @media screen and (min-width: $media-queries-desktop-xl) {
            padding-right: 120px;
        }

        .logos {
            width: 50%;

            @media screen and (min-width: $media-queries-tablet) {
                display: flex;
            }

            img {
                width: 100%;
                max-width: 100px;
            }
        }

        .announcement {
            margin: 0;
            font-size: 24px;

            @media screen and (min-width: $media-queries-tablet) {
                margin: auto;
            }

            @media screen and (min-width: $media-queries-desktop) {
                margin: 0;
            }
        }
    }

    @media screen and (min-width: $media-queries-desktop) {
        padding: 115px 0 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    img {
        margin: auto;
        text-align: center;
        display: block;
    }
}

.roadTo {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 24px;

    @media screen and (min-width: $media-queries-desktop) {
        font-size: 30px;
    }
}

.evo {
    width: 100%;
    max-width: 150px;

    @media screen and (min-width: $media-queries-desktop) {
        max-width: 150px;
    }
}

.width360 {
    width: 100%;
    max-width: 360px;
}

.firstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    margin-top: 25px;

    img {
        width: 100%;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 28px;
    }

    @media screen and (min-width: $media-queries-desktop) {
        display: flex;
        flex-direction: row;
        // max-width: 1300px;
        margin-bottom: 0;
    }

    .pfl-logo {
        display: none;

        @media screen and (min-width: $media-queries-desktop) {
            display: block;
            width: 520px;
        }
    }

    .logoDates {
        display: none;

        @media screen and (min-width: $media-queries-desktop) {
            display: block;
        }
    }
}

.secondSection {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1;

    img {
        width: 100%;
        max-width: 740px;
    }

    p {
        padding: 10px 15px;
    }

    &>div {
        margin-bottom: 50px;
        @media screen and (min-width: $media-queries-desktop) {
            display: flex;
            align-items: center;
        }
    }

    @media screen and (min-width: $media-queries-desktop) {
        font-size: 3vw;
        width: 85%;
        margin: 100px auto;

        .img-crop {
            width: 420px;
            height: 300px;
            object-fit: cover;
            object-position: 50% 0;
        }

        .d-flex {
            display: flex;
            align-items: center;

            p {
                padding: 0 60px 0 0;
            }

            &:nth-child(2n) {
                p {
                    padding: 0 0 0 60px;
                }
            }

            div {
                position: relative;
            }
        }
    }
}

.p-absolute {
    position: absolute;
}

.firstGame.standing {
    left: 170px;
    bottom: 145px;
    z-index: 1;
}

@media screen and (min-width: $media-queries-desktop) {
    .mmt50 {
        margin-top: -50px
    }
}

.logoSection {
    display: flex;
    align-items: center;
    margin-top: 30px;

    @media screen and (min-width: $media-queries-desktop) {
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }
}

.logos {
    width: 100%;

    @media screen and (min-width: $media-queries-tablet) {
        display: flex;
    }

    img {
        width: 100%;
        max-width: 120px;

        &.logoYuzu:hover {
            filter: drop-shadow(0 0 2em $yellow);
        }

        &.logoNSXC:hover {
            filter: drop-shadow(0 0 2em $orange);
        }

        &.logo256:hover {
            filter: drop-shadow(0 0 2em $white);
        }

        &.logoEvo:hover {
            filter: drop-shadow(0 0 2em #125995);
        }
    }
}
