.homepage {
  padding: 120px 15px 15px;
  height: 100vh;
  background: radial-gradient(circle, transparent 90%, rgba(0, 1, 0, 0.5)), linear-gradient(to right, rgba(0, 1, 0, 0.5), rgba(0, 1, 0, 0.5)), url("../../assets/4.png"), rgba(0, 1, 0, 0.5);
  background-position: center bottom;
  background-size: cover;
  background-blend-mode: color;
  position: relative;
  overflow: hidden;
}
.homepage h1 {
  text-transform: uppercase;
}
.homepage .presentation {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  .homepage .presentation {
    padding-right: 120px;
  }
}
.homepage .presentation .logos {
  display: flex;
  width: 50%;
}
.homepage .presentation .logos img {
  width: 100%;
  max-width: 100px;
}
.homepage .presentation .logos img.logoYuzu:hover {
  filter: drop-shadow(0 0 2em #ffd342);
}
.homepage .presentation .logos img.logoNSXC:hover {
  filter: drop-shadow(0 0 2em #ff7f26);
}
.homepage .presentation .announcement {
  margin: 0;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .homepage {
    padding: 115px 0 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.homepage img {
  margin: auto;
  text-align: center;
  display: block;
}

.roadTo {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .roadTo {
    font-size: 30px;
  }
}

.evo {
  width: 100%;
  max-width: 150px;
}
@media screen and (min-width: 768px) {
  .evo {
    max-width: 150px;
  }
}

.width360 {
  width: 100%;
  max-width: 360px;
}

.firstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f1f3;
}
.firstSection img {
  width: 100%;
}
.firstSection h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
}
.firstSection .logoSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .firstSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
}
.firstSection .pfl-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .firstSection .pfl-logo {
    display: block;
    width: 520px;
  }
}

.secondSection {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1;
}
.secondSection img {
  width: 100%;
  max-width: 740px;
}
.secondSection p {
  padding: 10px 15px;
}
.secondSection > div {
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .secondSection > div {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .secondSection {
    font-size: 3vw;
    width: 85%;
    margin: 100px auto;
  }
  .secondSection .img-crop {
    width: 420px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 0;
       object-position: 50% 0;
  }
  .secondSection .d-flex {
    display: flex;
    align-items: center;
  }
  .secondSection .d-flex p {
    padding: 0 60px 0 0;
  }
  .secondSection .d-flex:nth-child(2n) p {
    padding: 0 0 0 60px;
  }
  .secondSection .d-flex div {
    position: relative;
  }
}

.p-absolute {
  position: absolute;
}

.firstGame.standing {
  left: 170px;
  bottom: 145px;
  z-index: 1;
}

.mmt50 {
  margin-top: -50px;
}/*# sourceMappingURL=style.css.map */