$media-queries-desktop: 992px;
$media-queries-tablet: 768px;

$white: #ffffff;
$beige: #e7c292;
$grey-color: #bebdc2;

$margin-xs: 5px;
$margin-sm: 10px;
$margin-md: 15px;
$margin-mdp: 20px;
$margin-lg: 30px;
$margin-xl: 50px;

// .cards {
//     display: flex;
//     flex-direction: column;
//     position: relative;
//     perspective: 1000px;
//     justify-content: center;
//     align-content: center;
//     align-items: center;

//     @media screen and (min-width: 768px) {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-around;
//         align-content: center;
//         position: relative;
//         perspective: 1000px;
//         align-items: stretch;
//     }
// }

.cards__single {
    margin-bottom: 30px;
    background: 
      radial-gradient(circle, transparent 40%, rgb(37, 39, 103) 75%),
      linear-gradient(to right, rgb(37, 39, 103), rgb(37, 39, 103)),
      url('../../assets/dbfz-fond.jpg');
    background-position: center center;
    background-size: cover;
    background-blend-mode: color;
    position: relative;
    flex: 1;

    color: #f0f1f3;
    transition: 0.3s all ease-in-out;
    cursor: unset;
    border-radius: 5px;
    box-shadow: 0 5px 6px rgb(0 0 0 / 60%);

    &:hover {
        margin-top:-5px;
        background: 
        radial-gradient(circle, transparent 40%, rgb(110, 157, 191) 75%),
        linear-gradient(to right, rgb(110, 157, 191), rgb(110, 157, 191)),
        url('../../assets/dbfz-fond.jpg');
        background-position: center center;
        background-size: cover;
        // border: 2px solid $beige;
    }

    @media screen and (min-width: $media-queries-desktop) {
        min-height: 50vh;

        .pfl-button {
            padding: 1em;
            background-color: rgba($white, 0.2);
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 24px;
    }
}

.layer {
    background-color: rgba(14, 17, 55, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in-out;

    &:hover {
        background-color: rgba(65, 97, 120, 0.85);
    }
}

.cards__front {
    &>.cards__front__header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-height: 450px;

        &>.image {
            .cards__image.champion {
                height:initial
            }

        }
        &>.image::after {
            background-color: rgba($grey-color, 10%);

            .cards__image.champion {
                height:initial
            }

            img {
                height: initial;
            }
        }

        &>.cover {
            &>.text {
                color: $beige;
            }
        }
    }

    .cards__front__classement {
        list-style: none;
        color: #f0f1f3;
        padding: 0;

        li {
            &:first-child, &:nth-child(2), &:nth-child(3) {font-weight: bold;}
            &:first-child {color : #FFD700}
            &:nth-child(2) {color : #C0C0C0}
            &:nth-child(3) {color : #C49C48}
        }
    }

    &>.cards__front__body>.detail>.title {
        color: $white
    }

    @media only screen and (max-width: 1200px) {
        &>.cards__front__footer {
            display: inherit;
            justify-content: space-around;
        }
    }
}

.cards__back {
    top: 0;

    .container-onglets {
        margin: 0;

        li.onglets {
            width: 100%;
            padding: $margin-sm 0;

            &.active {
                background: rgba(255, 255, 255, 0.35);

                &:first-child {
                    -webkit-border-top-left-radius: 5px;
                    -moz-border-radius-topleft: 5px;
                    border-top-left-radius: 5px;
                }

                &:last-child {
                    -webkit-border-top-right-radius: 5px;
                    -moz-border-radius-topright: 5px;
                    border-top-right-radius: 5px;
                }
            }

            &::before {
                content: "";
                padding: 0;
            }

            &::after {
                height: 0;
                margin: 0 auto;
            }

            .onglets:first-child:after {
                background: unset;
            }
        }
    }
}

.cards__top {
    position: absolute;
    left: 0;
    right: 0;
}

.cards__results {
    margin-bottom: $margin-md;
    text-transform: uppercase;
}

.do-flip {
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
