$video-width: 1050px;

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: -18px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.video {
    max-width: $video-width;

    @media (min-width:$video-width) {
        height: calc($video-width * 0.5628205128205128);
    }
}

.register {
    max-width: 1900px;

    @media (min-width:768px) {
        padding: 0 100px;
        height: calc($video-width * 0.6628205128205128);
    }

    #onetrust-banner-sdk {
        display: none !important;
    }
}

.video, .register {
    width: 100vw; 
    // height: 56.25vw;
    border: 0;
}

.close:has(+ .video-container) {right: -45px;}
.close:has(+ .embedt) {right: 55px;}
