@import "../../variables";

.socials-aside, .socials-aside_ready {
    display: none;
    a, .tooltiptext {display: none;}
}

@media screen and (min-width: $media-queries-tablet) {
    .socials-aside {
        display: block;
        position: fixed;
        top: 50%;
        left: 2vw;
        z-index: 1;
        width: 1rem;
        transform: translate3d(0, -50%, 0);
        transition: color 400ms ease 100ms;

        a, button {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(1rem + 26px);
            height: calc(1rem + 26px);
            text-align: center;
            color: inherit;
            text-decoration: none;
            line-height: 1rem;
            transition: background-color 400ms ease 100ms, box-shadow 400ms ease 100ms;
        }

        button {
            border: 0;
            padding: 0;
            outline: none;

            &:hover {
                background: lighten(#fff, 10%)
            }
        }
    }

    .socials-aside_ready {
        display: block;
        color : rgb(0 29 110);

        .icon-video-camera1:before, .icon-video-camera:before {color: #ffffff;}

        a, button {
            background-color: white;
            box-shadow: 0 1px 3px 1px rgb(20 32 79 / 50%);
            border-radius: 50%;
            margin: 15px 0;

            &.yuzu-social {
                background-color: #202020;
                border: 2px solid #ffd342;
                box-sizing: border-box;
                &:hover {background-color: lighten(#202020, 10%)}
            }

            &.nsxc-social {
                background-color: #ff7f26;
                &:hover {background-color: lighten(#ff7f26, 10%)}
            }

            &.pfl-trailer {
                background-image: url('../../assets/pfl-bg.jpg');

                &:hover {
                    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
                    url('../../assets/pfl-bg.jpg');
                    background-size: cover;
                }

                &.five {
                    transform:scale(1);
                    .modal-background {
                      background:rgba(0,0,0,.0);
                      animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                      .modal {
                        transform:translateX(-1500px);
                        animation: roadRunnerIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                      }
                    }
                    &.out {
                      animation: quickScaleDown 0s .5s linear forwards;
                      .modal-background {
                        animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                        .modal {
                          animation: roadRunnerOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                        }
                      }
                    }
                  }
            }

            &.icon-video-camera1:before,
            &.icon-cross:before,
            &.icon-twitter:before, 
            &.icon-discord:before, 
            &.icon-video-camera:before {padding-top: 1px;}

            &.icon-twitch:hover:before {color: #6441a5;}

            &.icon-twitter:hover:before {color: #00acee;}

            &.icon-discord:hover:before {color: #7289da;}
        }

        .tooltip {
            position: relative;
        }

        .tooltip .tooltiptext {
            display: initial;
            visibility: hidden;
            font-size: 12px;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            position: absolute;
            z-index: 1;
            top: -5px;
            left: 105%;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    }
}
