@import "../../variables";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 0 71px;
    // padding: 0.65rem 48px;
    padding: 0.65rem 15px;
    // color: rgb(95, 105, 125);
    /* background-color: rgba(0, 1, 0, 0.55); */
    // background-color: rgba(59, 130, 246, 0.45);
    // background-color: rgba(7, 232, 131, 0.45);

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    @media screen and (min-width: $media-queries-tablet) {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
    }

}

.header-navigation {
    display: flex;
    align-items: center;

    @media screen and (min-width: $media-queries-tablet) {
        .icon-menu {
            display: none;
        }
    }

    .main-nav {
        display: none;

        @media screen and (min-width: $media-queries-tablet) {
            display: flex;
        }
    }
}

nav {
    margin-left: 20px;

    @media screen and (min-width: $media-queries-tablet) {
        margin-left: 40px;
    }

    ul {
        font-size: 18px;
        align-items: center;
        list-style: none;
        padding: 0;

        li {
            margin-left: 15px;

            &:before {
                content: "";
                padding: 0;
            }

            &:after {
                background-color: #e6001f;
                transition: width 0.4s;
                content: "";
                display: block;
                height: 2px;
                height: 0.125rem;
                width: 0;
            }

            &:hover {
                transition: color 1s;

                &:after {width: 100%;}
            }

            a {
                // color: rgb(95, 105, 125);
                color: rgb(167, 184, 217);
                display: block;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 1s;

                &:hover {
                  color: rgb(244, 247, 255);
                }
            }
        }
    }
}

.nav-lang ul {
    display: flex;
}
