header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65rem 15px;
  background-color: rgba(0, 1, 0, 0.55);
  border-bottom: 4px solid rgba(0, 0, 0, 0.02);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 12;
}
@media screen and (min-width: 768px) {
  header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
header + .socials-aside {
  display: none;
}
header .announcement {
  position: relative;
  padding: 15px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 2px solid #c1a768;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .announcement span.textButton {
  display: none;
}
@media screen and (min-width: 768px) {
  header .announcement span.textButton {
    display: initial;
    margin-right: 10px;
  }
}
header .announcement .icon-arrow-down {
  font-size: 16px;
  transition: all 0.5s;
  margin-left: 5px;
}
header .announcement:hover {
  border: 2px solid #faf4ea;
  box-shadow: 0 5px 18px rgba(250, 244, 234, 0.6);
}
header .announcement p {
  margin: 0;
}
@media screen and (min-width: 768px) {
  header .announcement {
    display: block;
    margin-left: 20px;
  }
}
header .icon-menu {
  order: 1;
  margin-left: 20px;
  color: #f0f1f3;
}

.header-navigation {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-navigation .icon-menu, .header-navigation .icon-list1 {
    display: none;
  }
}

.main-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
  }
}

nav {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  nav {
    margin-left: 40px;
  }
}
nav ul {
  font-size: 18px;
  align-items: center;
  list-style: none;
  padding: 0;
}
nav ul li {
  margin-left: 15px;
}
nav ul li:before {
  content: "";
  padding: 0;
}
nav ul li:after {
  background-color: #e6001f;
  transition: width 0.4s;
  content: "";
  display: block;
  height: 2px;
  height: 0.125rem;
  width: 0;
}
nav ul li:hover {
  transition: color 1s;
}
nav ul li:hover:after {
  width: 100%;
}
nav ul li a {
  display: block;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s;
}
@media screen and (min-width: 768px) {
  nav ul li a {
    font-size: 18px;
  }
}
nav ul li a:hover {
  color: rgb(244, 247, 255);
}

.nav-lang ul {
  display: flex;
}

/* Dropdown Button */
.dropbtn {
  color: rgb(167, 184, 217);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e568e;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 223px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: rgb(167, 184, 217);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.redButton {
  background-color: #e6001f;
}/*# sourceMappingURL=style.css.map */