.menu {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .icon-cross {
        color: #fff;
        position: fixed;
        top: 10px;
        right: 10px;
    }
}
