footer {
    padding: 10px 20px;
    border-top: 1px solid #fff;
    text-align: center;

    p {
        line-height: 1.5;
        // text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);

        &:first-child{margin-bottom: 0;}
        &:last-child{margin-top: 0;}
    }

    a {
        color: rgb(167, 184, 217);

        &:hover {
            color: rgb(244, 247, 255)
        }
    }
}

.footer-images {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100px;
    }
}


.container-footer {
    object-fit: contain;
    // background-color: #f6f8f9;
    border-top: 1px solid #e0e4e7;
    // padding-top: 25px;
    // padding-bottom: 20px;
    // padding-left: 30px;
    // padding-right: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}
