@import "../../variables";

.main-menu {
    a {
        // color: #fff;
        color: rgb(167, 184, 217);
    }

    @media screen and (min-width: $media-queries-tablet) {
        display: flex;

        ul {
            display: flex;
        }
    }
}
