$media-queries-desktop-xl: 1200px;
$media-queries-desktop: 992px;
$media-queries-tablet: 768px;

$white: #f0f1f3;
$beige: #e7c292;
$yellow: #ffd342;
$orange: #ff7f26;
$red: #e6001f;
$darkBlue: #183153;
$darkBlue2: #001d6e;

$text-color: $darkBlue;
$transition-time: 0.5s;
