#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: 'icons';
  src: url('assets/fonts/icons.eot?2yyp5w');
  src: url('assets/fonts/icons.eot?2yyp5w#iefix') format('embedded-opentype'),
    url('assets/fonts/icons.ttf?2yyp5w') format('truetype'),
    url('assets/fonts/icons.woff?2yyp5w') format('woff'),
    url('assets/fonts/icons.svg?2yyp5w#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitch:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-discord:before {
  content: "\e902";
  color: #7289da;
}

.icon-menu:before {
  content: "\e903";
}

.icon-cross:before {
  content: "\e904";
}

.icon-yuzu:before {
  content: url('assets/yuzu-lo.svg');
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
